.setup {
    display: flex;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}
.setup-container {
    position: relative;
    top: 30px;
    padding-bottom: 25px;
    display: flex;
    right: 5px;
    align-items: flex-start;
}

.setup-documentation {
    display: flex;
}

.bittrex-form header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.bittrex-success {
    width: 50px;
    position: relative;
    left: -50px;
    display: flex;
}

.bittrex-success > .fas.fa-thumbs-up {
    transform: translate(20px);
    transition: opacity .3s .4s, transform .5s cubic-bezier(.34,1.56,.88,1.07) .4s;
}

.bittrex-success p {
    font-weight: bold;
}

.bittrex-success .fas {
    /* top 2px due to icon off set */
    top: 2px; 
    position: relative;
    left: 10px;
}

.setup-documentation aside {
    margin: 20px 0;
    padding: 10px 10px 10px 40px;
    border: 1px solid #e3e8ee;
    border-radius: 4px;
    background-color: #f7fafc;
}

.setup-documentation aside p {
    font-size: .9rem;
    margin: 0;
}
.credential-container {
    position: relative;
    left: 10px;
    display: flex;
    flex-direction: column;
}

.credential-container section:nth-child(2) {
    color: #1f1a47;
    margin-top: 20px;
}

.credential-container h4 {
    margin: 15px 0;
}
.provider-section, .bittrex-section {
    position: relative;
    padding: 10px;
    background: #fff;
    max-width: 900px;
    border-radius: 4px;
    -webkit-box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.bittrex-section {
    transition: height .4s ease;
    overflow: hidden;
}

.provider-section label, .bittrex-section label {
    width: 232px;
    font-size: 16px;
    width: 232px;
    justify-content: end;
    white-space: nowrap;
}

.provider-section .pools,
.provider-section .credentials {
    overflow: hidden;
}

.selector-groups {
    display: flex;
}
.selector-groups .selector-group-child {
    display: flex;
}

.selector-group-child select {
    width: 73% !important;
}
.selector-group-child:nth-child(2) label{
    width: auto;

}

.btn-submit {
    -webkit-box-shadow: 0 8px 6px -6px #000;
    -moz-box-shadow: 0 8px 6px -6px #000;
    box-shadow: 0 8px 6px -6px #000;
    display: inline-block;
    padding: 6px 12px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #3c319c;
    color: #fff;
}


.fas.fa-thumbs-up {
    color: limegreen;
}

.btn-submit:focus {
    outline: none;
}

.btn.btn-success, .btn.btn-primary.add-pool { 
    padding: 4px 8px;
    font-size: 14px;
    margin: 0 5px;
}

.provider-section .form-groups,
.bittrex-section .form-groups,
.rental-provider {
    margin: 5px 0;
    display: flex;
    align-items: flex-end;
}

.provider-section .form-inline, .bittrex-section .form-inline {
    display: block;
}

.provider-section .custom-select {
    /* extra 3% bootstrap dumb classes */
    width: 103%;
}

select {
    -webkit-appearance: menulist-button;
    color: #0c003c !important;
  }
  
  select:invalid {
    color: lightgrey !important;
  }

.provider-section .form-control, .bittrex-section .form-control {
    width: 100%;
}

::-webkit-input-placeholder{
    color: lightgrey !important;
}

.provider-credentials, .pool-add  {
    transition: all .4s ease-in;
}

#wizard-tableHeader tr th {
    border-top: none;
}

.data-table-row td {
    white-space: pre-wrap;
    max-width: 428px;
    overflow: scroll;
}

@media (max-width: 576px) {
    .provider-section .form-groups,
    .rental-provider {
        display: block;
    }
}

@media (max-width: 890px) {
    .credential-container {
        position: static;
    }
    .setup-container {
        flex-direction: column;
        align-items: normal;
        right: 0;
        
    }
    .credential-container {
        display: block;
    }
}
@media (max-width: 768px) {
    .setup {
        padding: 0 5px;
    }
}