main {
  margin: 0 auto;
  max-width: 80vw;
}
.card {
  margin-bottom: 1em;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  border: none;
}
.mining-operation-inputs {
  input {
    text-align: center;
    border: 1px solid #ced4da;
    padding: 0.5rem;
  }
  label {
    display: block;
    padding: 5px 1px;
    margin-bottom: -2px;
    font-size: .9rem;
  }

  input:disabled {
    background-color: #42465685;
    border-left: none;
    position: relative;
  }
}

.target-margin-container {
 .input-group {
   flex-wrap: nowrap;
 }
}
.target-margin-container, .profit-reinvestment-container, .unusoled-offers-container,   
.daily-budget-container {
  width: 150px;
}
.daily-budget-text {
  display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0080ff;
    text-align: center;
    white-space: nowrap;
    border-radius: 0px .25rem .25rem 0px;
    border: 1px solid #ced4da;
}

.mining-operation-inputs {
  display: flex;
  justify-content: space-around;
}

.automatic-renting-container, .automatic-trading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.automatic-renting-content {
  flex-grow: 1;
  padding: 10px;
  margin: 10px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}
.automatic-renting-content {
  .form-check-label {
    font-size: .9rem;
  }
}


.rent-toggle-switch {
  position: relative;
  overflow: hidden;
  padding: 2px;
  width: 85px;
  height: 35px;
  border-radius: 60px;
  border: 2px solid #b8abff;
  background: #cfe9ff;
  margin: 10px;
}

.slider-container {
  transition: transform .4s;
  width: 77px;
  display: flex;
  width: 160px;
  
}
.slider-container span {
  display: block;
  width: 31px;
  height: 31px;
  background-color: #463186;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -1.5px;
  z-index: 1;
  left: -2px;
  pointer-events: none;
}
.auto-toggle {
  position: absolute;
  width: 140px;
  height: 53px;
  left: -55px;
  z-index: 10;
  top: -9px;
  opacity: 0;
}

.auto-label-after {
  cursor: pointer;
  user-select: none;
  position: relative;
  background-color: #ffffff;
  width: 102px;
  height: 40px;
  border-radius: 60px;
  top: -4px;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 2.4;
}

.on {
  position: absolute;
  bottom: 2px;
  left: 12px;
}

.wallet-balance-box {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 25vw;
  background-color: rgba(218, 218, 218, 0.85);
  margin: 0 auto;
  flex: 1 1 100%;
}

.profile-container {
  width: 100%;

  label {
    margin-right: 35px;
  }

  #profile-select {
    height: 2.5rem;
    width: 12rem;
  }
  #profile-notes {
    width: 50%;
  }
}

.new-profile-modal {
  label {
    margin-right: 35px;
  }
}

.active-rentals-items-container {
  display: flex;
  justify-content: space-around;

  img {
    margin-right: 2rem;
  }
}

.active-rentals-items-container > div:not(:first-child) {
  width: 50%;
  border: 1px solid black;
}

.active-rentals-item {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.active-rentals {
  a {
    display: block;
    text-align: right;
    padding-top: 0.25rem;
  }
}

.new-profile-modal {
  label:first-child {
    margin: 1rem;
  }
}

/* Moblie */
@media screen and (max-width: 500px) {
  body {
    background-color: #dbdbdb;
  }

  .card {
    margin: 0 0 1rem 0;
  }

  .card-body {
    padding: 0;

    div {
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
    }
  }

  .profile {
    width: 100vw;
    margin: 20px 0 20px 0;
    padding: 0.5rem;
  }

  .prefrences {
    width: 100vw;
  }

  .wallet {
    width: 100vw;
  }

  .active-rentals {
    width: 100vw;

    div {
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
    }
  }

  .mining-operation {
    width: 100vw;

    span label {
      margin: 1rem;
    }

    input {
      padding: 0.25rem;
    }

    a {
      font-size: 0.7rem;
    }
  }

  .open-orders {
    width: 100vw;
    padding: 0;

    a {
      font-size: 12px;
    }
  }

  .table td,
  .table th {
    padding: 0;
  }

  th {
    font-size: 0.68rem;
  }

  td {
    font-size: 0.68rem;
  }

  tbody {
    max-width: 10vw;
  }
}

@media screen and (width: 2560px) {
  main {
    border: 1px solid blue;
    margin: 0 auto;
    max-width: 50vw;
  }
}
