main {
  margin: 0 auto;
  max-width: 80vw;
}

.mining-operation {
  .card-body {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  label {
    display: block;
    margin-bottom: -2px;
  }

  input:disabled {
    background-color: #42465685;
    border-left: none;
    position: relative;
  }

  input {
    text-align: center;
    border: 1px solid #42465685;
    border-radius: 5%;
    padding: 0.5rem;
  }
}

.card {
  margin: 0 0 2rem 0;
}

.profile {
  margin-top: 2rem;
}

.wallet-body {
  display: flex;
}

.wallet-balance-box {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 25vw;
  background-color: rgba(218, 218, 218, 0.85);
  margin: 0 auto;
  flex: 1 1 100%;
}

.profile-container {
  width: 100%;

  label {
    margin-right: 35px;
  }

  #profile-select {
    height: 2.5rem;
    width: 12rem;
  }
  #profile-notes {
    width: 50%;
  }
}

.new-profile-modal {
  label {
    margin-right: 35px;
  }
}

/* Moblie */
@media screen and (max-width: 500px) {
  body {
    background-color: #dbdbdb;
  }

  .card {
    margin: 0 0 1rem 0;
  }

  .card-body {
    padding: 0;

    div {
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
    }
  }

  .profile {
    width: 100vw;
    margin: 20px 0 20px 0;
    padding: 0.5rem;
  }

  .prefrences {
    width: 100vw;
  }

  .wallet {
    width: 100vw;
  }

  .active-rentals {
    width: 100vw;

    div {
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
    }
  }

  .mining-operation {
    width: 100vw;

    span label {
      margin: 1rem;
    }

    input {
      padding: 0.25rem;
    }

    a {
      font-size: 0.7rem;
    }
  }

  .open-orders {
    width: 100vw;
    padding: 0;

    a {
      font-size: 12px;
    }
  }

  .table td,
  .table th {
    padding: 0;
  }

  th {
    font-size: 0.68rem;
  }

  td {
    font-size: 0.68rem;
  }

  tbody {
    max-width: 10vw;
  }
}

@media screen and (width: 2560px) {
  main {
    border: 1px solid blue;
    margin: 0 auto;
    max-width: 50vw;
  }
}
