main {
  margin: 0 auto;
  max-width: 80vw;
}

.mining-operation .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mining-operation label {
  display: block;
  margin-bottom: -2px;
}

.mining-operation input:disabled {
  background-color: #42465685;
  border-left: none;
  position: relative;
}

.mining-operation input {
  text-align: center;
  border: 1px solid #42465685;
  border-radius: 5%;
  padding: 0.5rem;
}

.card {
  margin: 0 0 2rem 0;
}

.profile {
  margin-top: 2rem;
}

.wallet-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wallet-balance-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 25vw;
  background-color: rgba(218, 218, 218, 0.85);
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.profile-container {
  width: 100%;
}

.profile-container label {
  margin-right: 35px;
}

.profile-container #profile-select {
  height: 2.5rem;
  width: 12rem;
}

.profile-container #profile-notes {
  width: 50%;
}

.new-profile-modal label {
  margin-right: 35px;
}

/* Moblie */
@media screen and (max-width: 500px) {
  body {
    background-color: #dbdbdb;
  }
  .card {
    margin: 0 0 1rem 0;
  }
  .card-body {
    padding: 0;
  }
  .card-body div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
  }
  .profile {
    width: 100vw;
    margin: 20px 0 20px 0;
    padding: 0.5rem;
  }
  .prefrences {
    width: 100vw;
  }
  .wallet {
    width: 100vw;
  }
  .active-rentals {
    width: 100vw;
  }
  .active-rentals div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
  }
  .mining-operation {
    width: 100vw;
  }
  .mining-operation span label {
    margin: 1rem;
  }
  .mining-operation input {
    padding: 0.25rem;
  }
  .mining-operation a {
    font-size: 0.7rem;
  }
  .open-orders {
    width: 100vw;
    padding: 0;
  }
  .open-orders a {
    font-size: 12px;
  }
  .table td,
  .table th {
    padding: 0;
  }
  th {
    font-size: 0.68rem;
  }
  td {
    font-size: 0.68rem;
  }
  tbody {
    max-width: 10vw;
  }
}

@media screen and (width: 2560px) {
  main {
    border: 1px solid blue;
    margin: 0 auto;
    max-width: 50vw;
  }
}
/*# sourceMappingURL=home.css.map */