.nav-setup {
    color: #fff;
    position: relative;
    border-radius: 4px;
    left: 0;
    height: 100%;
    /* background: #05002d; */
    background: #1e1e1e;
    -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.nav-setup ul {
    padding: 0;
    list-style: none;
}

.nav-setup ul li {
    padding: 5px;
}

.nav-header {
    padding: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #9a9a9a;
}

@media (max-width: 890px) {
    .nav-setup {
        bottom: 10px;
        width: 100%;
    }
}