#merc .grid-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5rem;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: '.       iconFlo iconRvn' 'header-a item-1 item-2' 'header-b item-3 item-4' 'header-c item-5 item-6' 'header-d item-7 item-8';
}

#merc h3 {
  font-size: 1.4em;
}

#merc .iconFlo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: iconFlo;
  text-align: center;
}

#merc .iconFlo div {
  padding-top: 0.5rem;
}

#merc .iconRvn {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: iconRvn;
  text-align: center;
}

#merc .iconRvn div {
  padding-top: 0.5rem;
}

#merc .header-a {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: header-a;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

#merc .header-b {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: header-b;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

#merc .header-c {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: header-c;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

#merc .header-d {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: header-d;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

#merc .header-e {
  grid-area: header-e;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

#merc .header-f {
  grid-area: header-f;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

#merc .item-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: item-1;
  text-align: center;
  text-align: -webkit-center;
}

#merc .item-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: item-2;
  text-align: center;
  text-align: -webkit-center;
}

#merc .item-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: item-3;
  text-align: center;
  text-align: -webkit-center;
}

#merc .item-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: item-4;
  text-align: center;
  text-align: -webkit-center;
}

#merc .item-5 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: item-5;
  text-align: center;
  text-align: -webkit-center;
}

#merc .item-6 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: item-6;
  text-align: center;
  text-align: -webkit-center;
}

#merc input {
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  #merc {
    top: 0;
    max-width: 100vw;
    height: 10%;
    font-size: 0.75rem;
  }
  #merc img {
    width: 4.25rem;
  }
  .merc-modal {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  .merc-modal .modal-content {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .merc-modal .modal-footer {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    -webkit-box-align: 'unset';
        -ms-flex-align: 'unset';
            align-items: 'unset';
  }
  .merc-modal .modal-body {
    padding: 0.5rem 0.5rem 0 0.5rem;
  }
}

#merc img {
  width: 4.25rem;
}
/*# sourceMappingURL=MercMode.css.map */