#merc {
  .grid-container {
    display: grid;
    // grid-template-columns: repeat(auto-fill);
    grid-gap: 0.5rem;
    grid-template-rows: auto;
    // grid-template-areas:
    //   "header-a item-1 item-2"
    //   "header-b item-3 item-4"
    //   "header-c item-5 item-6"
    //   "header-d item-7 item-8"
    //   "header-e item item"
    //   "header-f item item";
    grid-template-areas:
      '.       iconFlo iconRvn'
      'header-a item-1 item-2'
      'header-b item-3 item-4'
      'header-c item-5 item-6'
      'header-d item-7 item-8';
  }

  h3 {
    font-size: 1.4em;
  }

  .iconFlo {
    grid-area: iconFlo;
    text-align: center;

    div {
      padding-top: 0.5rem;
    }
  }

  .iconRvn {
    grid-area: iconRvn;
    text-align: center;

    div {
      padding-top: 0.5rem;
    }
  }

  .header-a {
    grid-area: header-a;
    justify-self: stretch;
  }
  .header-b {
    grid-area: header-b;
    justify-self: stretch;
  }
  .header-c {
    grid-area: header-c;
    justify-self: stretch;
  }
  .header-d {
    grid-area: header-d;
    justify-self: stretch;
  }
  .header-e {
    grid-area: header-e;
    justify-self: stretch;
  }
  .header-f {
    grid-area: header-f;
    justify-self: stretch;
  }

  .item-1 {
    grid-area: item-1;
    text-align: center;
    text-align: -webkit-center;
  }
  .item-2 {
    grid-area: item-2;
    text-align: center;
    text-align: -webkit-center;
  }
  .item-3 {
    grid-area: item-3;
    text-align: center;
    text-align: -webkit-center;
  }
  .item-4 {
    grid-area: item-4;
    text-align: center;
    text-align: -webkit-center;
  }
  .item-5 {
    grid-area: item-5;
    text-align: center;
    text-align: -webkit-center;
  }
  .item-6 {
    grid-area: item-6;
    text-align: center;
    text-align: -webkit-center;
  }

  input {
    margin-right: 10px;
  }
}

@media screen and (max-width: 500px) {
  #merc {
    top: 0;
    max-width: 100vw;
    height: 10%;
    font-size: 0.75rem;

    img {
      width: 4.25rem;
    }
  }

  .merc-modal {
    margin: 0;
    height: 100%;
    overflow: hidden;

    .modal-content {
      margin: 0;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
    }

    .modal-footer {
      width: 100%;
      flex-flow: column-reverse;
      align-items: 'unset';
    }

    .modal-body {
      padding: 0.5rem 0.5rem 0 0.5rem;
    }
  }
}

#merc {
  img {
    width: 4.25rem;
  }
}
