.rent-toggle-switch {
  position: relative;
  overflow: hidden;
  padding: 2px;
  width: 85px;
  height: 35px;
  border-radius: 60px;
  border: 2px solid #007bff85;
  background: #cfe9ff;
  margin: 10px;
}

.slider-container {
  transition: transform 0.4s;
  width: 77px;
  display: flex;
  width: 160px;
}
.slider-container span {
  display: block;
  width: 31px;
  height: 31px;
  background-color: #007bff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: -2px;
  z-index: 1;
  left: -2px;
  pointer-events: none;
}

.auto-toggle {
  position: absolute;
  width: 140px;
  height: 53px;
  left: -55px;
  z-index: 10;
  top: -9px;
  opacity: 0;
}

.auto-label-after {
  cursor: pointer;
  user-select: none;
  position: relative;
  background-color: #ffffff;
  width: 102px;
  height: 40px;
  border-radius: 60px;
  top: -4px;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 2.4;
}

.on {
  position: absolute;
  bottom: 2px;
  left: 12px;
}
