/* Eddie's Palette

Alexandria blue - #0082f9 //complimentary - #F97700

Dark grey - #424656

cement grey - #A6ABBD

hilcrest pink - #ED416D

kinda red - #AE003E

*/

html,
body {
    /* background: -moz-linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(66, 70, 86, 1) 50%,
        rgba(0, 130, 249, 1) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(66, 70, 86, 1) 50%,
        rgba(0, 130, 249, 1) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(66, 70, 86, 1) 50%,
        rgba(0, 130, 249, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#0082f9",GradientType=1); */
    height: 100%;
    font-family: 'Helvetica, sans-serif';
}

.bg-primary {
    background-color: #0082f9 !important;
}

#header-navbar {
    z-index: 9999;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}
